.DS_STORE
.gradle
.idea
app/build
app/bin
env/
participationapp.log
shared-local-instance.db
app/target/citrus-reports
.vscode/
# Ignore Gradle build output directory
build
bin/
.settings
.classpath
.project
.factorypath
.chat_histories